<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Kontakt Meg</h2>
                    
                    <!--<h3 class="section-subheading text-muted">Her kommer kontakt informasjon.</h3> -->
                    <h2 class="contact-info">Telefon: <small> 96 62 62 43</small></h1>
                   
                </div>
            </div>
            
        </div>
</section>

